*{  padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
      border-radius: 3px;
  }
  .hero {
    height: 140px;
    width: 210px;
    border: 1px solid;
    background: linear-gradient(white, 95%, rgb(223, 219, 219));
    border-radius: 6px;
    margin-top: 100px;
    margin-left: 50vh;
  }
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;

  }

  .buttonA {
        padding: 2;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
        outline: none;
        margin: 4px 0;
        color: #ffffff;
        background-color: #585759;
        border: solid 1px transparent;
        border-radius: 3px;
      }

      .buttonClick {
        padding: 2;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
        outline: none;
        margin: 4px 0;
        color: #585759;
        background-color: #ffffff;
        border:  #585759 solid 1px;
        border-radius: 3px;
      }
      
      /* .button:active {
        transform: translateY(1px);
        filter: saturate(150%);
      }
      
      .button:hover,
      .button:focus {
        color: #585759;
        border-color: currentColor;
        background-color: #ffffff;
      }
      .button::-moz-focus-inner {
        border: none;
      } */
  

input {  
  height: 35px;
  width: 90px;
  border: 1px solid gray;
  margin: 4px;
  font-size: 16px;
  padding-left: 4px;
  
  }
 output {  
    height: 35px;
    width: 90px;
    border: 1px solid gray;
    margin: 4px;
    font-size: 16px;
    padding-left: 4px;
  
  }