*{
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    background-color: rgba(54, 54, 54, 0.616);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.logo{
    /* position: absolute; */
    /* left: 8px; */
    height: 100%;
    /* border: 3px solid aqua; */
}

.flex-item{
    font-size: 20px;
    height: 30px;
    width: 200px;
    color: white;
}

button{
    background-color: rgba(128, 128, 128, 0);
    border-color: rgba(128, 128, 128, 0);
}

.img{
    text-align: center;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.logo-wrapper{
    height: 50%;
    background-color: aqua;
    margin: 0 auto;
    min-width: 50px;
}