*{  padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body {
    background-image: url(./bwink.png);
    background-repeat: no-repeat;
    background-size: 600px;
    justify-content: center;
    align-items: center;
    
}

.container{
    height: 280px;
    width: 335px;
    border: 1px solid;
    background: linear-gradient(white, 95%, rgb(223, 219, 219));
    opacity: .93;
    border-radius: 6px;
    margin: auto;
}

h1 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
::placeholder {
    color: gray;
    padding: 5px ;
    font-size: 9px;
}
.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    
  }
input {  
    height: 30px;
    border-bottom: 1px solid gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 2;
   
  }

  button {
    height: 30px;
    font-weight: 600;
  }

  .result {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 8px;
    
  }


