
.navigation {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  text-align: center; 
  background-color: black; 
  padding: 10px 0; 
}

.nav-item {
  color: white; 
  text-decoration: none; 
  padding: 10px; 
  display: block; 
}
