* {
    border-radius: 3px;
    
    }
    .container {
    height: 400px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
    }
    .item {
    position: relative;
    height: 400px;
    width: 300px;
    background-color: black;
    }
    
    .element {
    padding: 2px;
    text-align: center;
    position: absolute;
    height: 10px;
    width: 40px;
    top: 3px;
    right: 3px;
    background-color: yellow;
    font-size: 10px;
    color: black;
    font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
    }
    .background1 {
    background-image: url("../img/1-1.webp");
    background-size: cover;
    }
    .background2 {
    background-image: url("../img/green-mile.webp");
    background-size: cover;
    }
    .background3 {
    background-image: url("../img/run.webp");
    background-size: cover;
    } 
    .wrap {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    height: 32%;
    width: 100%;
    background: linear-gradient(#66000000, #000000);
    } 
    .year {
    padding: 0 5px;
    font-size: 28px;
    color: white;
    font-family: "Fira Sans", sans-serif;
      font-weight: 600;
      font-style: normal;
    }  
    .title {
    padding: 0 5px;
    font-size: 24px;
    color: yellow;
    font-family: "Fira Sans", sans-serif;
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase;
    }
    .teaser {
    padding: 5px;
     font-size: 12px;
     color: white;   
     display: -webkit-box;
     -webkit-line-clamp: 3; 
     -webkit-box-orient: vertical;
     overflow: hidden;
     font-family: "Fira Sans", sans-serif;
      font-weight: 300;
      font-style: normal;
    }