body {
    font-family:DejaVu Sans Mono, monospace; /*https://www.w3.org/Style/Examples/007/fonts.ru.html*/
    margin: 0;
    padding: 0;
    background-color:rgb(102, 80, 80); 
}
.title {
    font-size: 24px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 200px ; 
    background-color: #9c9797; 
    padding: 50px;
    border-radius: 15px;
    box-shadow: 19px 12px 30px 11px #a81515;/* https://webcode.tools/css-generator/box-shadow#google_vignette */
}
/* .form-group{
    background-color: grey;
} */

/* Стили для формы и группы элементов */
#bmi-form {
    max-width: 300px; /* Максимальная ширина формы */
    margin: 50 ; /* Центрирование формы */
}

.form-group {
    margin-bottom: 15px; 
}

label {
    display: block; 
    margin-bottom: 3px; 
}

input[type="number"] {
    width: 100%; 
    padding: 10px; 
    border: none;
    background-color: aliceblue;
}

button[type="submit"] {
    padding: 10px 20px; 
    background-color: #1d70c9; 
    color: black; 
    border: none; 
    cursor: pointer; 
    display: block; 
    width: 100%; 
}

button[type="submit"]:hover {
    background-color: rgb(60, 187, 196); ; /* Изменение цвета фона кнопки при наведении */
}