*{font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;}

    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal; 
    }

   .title {
    font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal; 

   }

   #dataList li {
    font-weight: bold;
}