* {
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    text-align: center;
}

.todo-list {
    margin-top: 32px;
    background-color: lightblue;
    border-radius: 4px;
    padding: 8px;
    max-width: 400px;
    margin: 0 auto;
}

.actions {
    display: flex;
    margin-bottom: 8px;
}

.btn {
    height: 32px;
    min-width: 94px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
    background-color: rgb(134, 185, 203);
}

.task-input {
    height: 32px;
    border-radius: 4px;
    border: 0;
    flex: 1;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 auto 0 0;
    width: 90%;
}

.list-item {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    background-color: bisque;
    margin: 8px 0;
    padding: 8px;
}

.list-item_done {
    text-decoration: line-through;
    background-color: darkgray;
}
